* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #621402;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  min-height: 817px;
  background-image: linear-gradient(180deg, rgba(98, 20, 2, 0.3) 0%,#621402 85%), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.logo img {
  display: block;
  width: 30px;
  height: 30px;
}

.logo:focus {
  outline: 1px solid #fe8e05;
}

.nav {
  position: relative;
}

.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.m-menu {
  display: none;
}

.menu {
  margin: 0 0 0 57px;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.menu-item {
  margin-right: 25px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  color: inherit;
}

.menu-link:hover,
.menu-link:focus {
  color: #fe8e05;
}

.user {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.avatar {
  margin-left: 11px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.film {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.film-info {
  max-width: 570px;
}

.film-title-small {
  display: block;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
}

.film-title {
  margin-top: 11px;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 36px;
  line-height: 116.67%;
}

.film-description {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 150%;
}

.film-trailer {
  margin: auto;
  display: block;
  font-size: 0;
  outline: none;
}

.film-trailer:hover,
.film-trailer:focus {
  border-radius: 50%;
  outline: 2px solid #fe8e05;
}

.film-trailer:hover path,
.film-trailer:focus path {
  fill: #fe8e05;
}

.film-details {
  margin-top: 47px;
  display: flex;
  align-items: center;
}

.film-time {
  margin-right: 34px;
  display: flex;
  align-items: center;
}

.time-icon {
  margin-right: 14px;
}

.film-rating {
  display: flex;
  align-items: center;
}

.rating-icon {
  margin-right: 12px;
}

.rating-current {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}

.session {
  margin-top: 63px;
  padding-top: 46px;
  padding-bottom: 63px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.session-label {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 118.75%;
}

.session-date-block {
  display: flex;
}

.session-date-item {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: color, background-color 0.35s ease 0s;
}

.session-date-item:last-child {
  margin-right: 0;
}

.session-date-item.selected {
  color: #621402;
  background-color: #fe8e05;
}

.session-date-item:hover,
.session-date-item:focus {
  border-color: #fe8e05;
}

.session-month {
  font-size: 16px;
  line-height: 118.75%;
  text-transform: uppercase;
  pointer-events: none;
}

.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 116.67%;
  pointer-events: none;
}

.session-week {
  font-size: 19px;
  line-height: 115.79%;
  text-transform: lowercase;
  pointer-events: none;
}

.select {
  margin-top: 13px;
  padding: 18px;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(240, 187, 187, 0.5);
  border-radius: 5px;
  cursor: pointer;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 18px) center;
}

.select:hover,
.select:focus {
  outline: 1px solid #fe8e05;
}

.select option {
  background-color: rgba(98, 20, 2, 0.85);
}

.select-cinema {
  width: 470px;
}

.select-time {
  width: 110px;
}

.scheme {
  margin: 62px 0;
  background-color: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
}

#scheme-svg {
  max-width: 1170px;
}

.scheme g[id^=seats] path {
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.2);
}

.scheme g[id^=seats] path:hover {
  fill: rgba(255, 255, 255, 0.5);
}

.scheme g[id^=seats] path.active {
  fill: #FE8E05;
}

.scheme g[id^=seats] path.booked {
  cursor: not-allowed;
  fill: rgba(255, 255, 255, 0.05);
}

.legend {
  max-width: 1018px;
  width: 88.75%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 38px;
  display: flex;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.legend-item:last-child {
  margin-right: 0;
}

.legend-item svg {
  margin-right: 14px;
}

.legend-active path {
  fill: #FE8E05;
}

.legend-booked path {
  fill: rgba(255, 255, 255, 0.05);
}

.legend-text {
  font-size: 16px;
  line-height: 118.75%;
  color: rgba(255, 255, 255, 0.5);
}

.price {
  padding-bottom: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-label {
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 116.67%;
}

.price-total,
.price-currency {
  font-size: 52px;
  line-height: 117.31%;
}

.button {
  display: block;
  padding: 24px 52px;
  font-weight: 700;
  font-size: 18px;
  line-height: 116.67%;
  color: #FFFFFF;
  background-color: #FE8E05;
  border-radius: 5px;
}

.button:hover,
.button:focus {
  background-color:rgba(254, 142, 5, 0.8);
}

.button:focus {
  outline: 1px solid #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .select-cinema {
    width: 330px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .menu-item {
    margin-right: 20px;
  }

  .session {
    flex-wrap: wrap;
  }

  .session-date {
    margin-bottom: 40px;
    flex-basis: 70%;
  }

  .session-time {
    order: 2;
  }

  .session-cinema {
    order: 3;
  }

  .scheme {
    overflow-x: auto;
  }

  #scheme-svg {
    width: 960px;
    height: auto;
  }

  .price {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 830px) {
  .container {
    max-width: 660px;
  }

  .film-info {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 560px;
    width: 90%;
  }

  .m-menu {
    display: block;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    flex-direction: column;
    padding: 20px;
    margin-left: 20px;
    left: 0;
    top: 40px;
    background-color: #621402;
    border-radius: 10px;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 0.5s ease 0s,
                transform 0.5s ease 0s;
  }

  .menu-open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .menu-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .film {
    flex-direction: column;
  }

  .film-trailer {
    margin-top: 40px;
  }

  .session-cinema {
    order: 2;
  }

  .session-time {
    order: 3;
  }

  .price {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .session-date {
    margin-bottom: 20px;
    flex-basis: 100%;
  }

  .session-date-block {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }

  .session-date-item {
    margin-right: 0;
    width: 120px;
    height: 120px;
  }

  .session-cinema {
    flex-basis: 100%;
    margin-top: 40px;
    order: 3;
  }

  .session-time {
    flex-basis: 100%;
    margin-top: 20px;
    order: 2;
  }

  .scheme {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .price {
    flex-direction: column;
  }

  .button-pay {
    margin-top: 20px;
  }
}

@media screen and (max-width: 380px) {
  .film-title-small {
    font-size: 20px;
  }

  .film-title {
    font-size: 30px;
  }

  .select-cinema {
    width: 100%;
  }
}
